---

---
<section id="media">
  <h2>SOCIAL</h2>
  <div class="underline"></div>
  <figure>
    <a href="https://open.spotify.com/intl-es/artist/011RlZS72X5YMFxJPmfr7C?si=im3MCWXwSiCscrzHN4qsCw" target="_blank"><i class="ph-fill ph-spotify-logo"></i></a>
    <a href="https://www.youtube.com/@DjRaggart" target="_blank"><i class="ph-fill ph-youtube-logo"></i></a>
    <a href="https://tidal.com/browse/artist/14085152" target="_blank"><i class="ph-fill ph-tidal-logo"></i></a>
    <a href="https://www.deezer.com/mx/artist/5577174" target="_blank"><i class="ph-fill ph-equalizer"></i></a>
  </figure>
  <p class="name">RAGGART</p>
</section>
<div class="radio-container">
    <div class="contents-row">
    <!-- <img src={logo2.src} alt="logo">
    <img src={logo3.src} alt="logo"> -->
  </div>
  <iframe  src="https://player.radioking.io/raggart/?c=%232F3542&c2=%237BED9F&f=h&i=1&p=1&s=1&li=0&popup=0&plc=NaN&h=undefined&l=100&v=2&fullsize" style="border-radius: 5px; width: 100%; height: 145px;" frameBorder="0" >
  </iframe><script is:inline type="text/javascript" src="https://player.radioking.io/scripts/iframe.bundle.js"></script>
    <div class="contents-row">
    <!-- <img src={logo4.src} alt="logo"> -->
    <!-- <a href="https://luissanteliz.dev/" target="_blank"><img src={logo5.src} alt="logo"></a> -->
  </div>
</div>

<style lang="scss">
  @use "../assets/sass/index" as *;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 120px 0;
  }

  section a  {
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 1.5rem;

    i {
      font-size: 5rem;
      cursor: pointer;
      margin-left: 20px;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    i {
      margin: 0 20px;
      cursor: pointer;
      color: white;
      transition: color 0.3s, transform 0.3s;
    }

    a:hover i {
      color: #8e27ff;
      transform: scale(1.2);
    }
  }

</style>
